body {
	background: #BBBBEE;
	margin-top: 22px;
	font-size: 15px;
}

#post_form {
	margin: 0 auto;
	width: 400px;
	margin-bottom: 16px;
}

#post_container {
	border-top: 1px solid #000000;
	padding-top: 8px;
	margin: 0 auto;
	background: #BBBBEE;
}

.post {
	background: #CCCCFF;
	margin-bottom: 4px;
	margin-left: 8px;
	padding: 2px;
	overflow: auto;
	display: inline-block;
}

.post .nick {
	background: #BBBBFF;
	padding: 1px;
}

.post .content {
	padding: 1px;
	background: #DDDDDD;
	overflow: auto;
}
